# Using SQL and Python Together

In this notebook, we'll go over some code to use an SQL query to bring in a table from a PostgreSQL database into a pandas DataFrame.

First, we start as usual by loading the appropriate packages.

In [5]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

We're going to be using the `create_engine` function in `sqlalchemy` to connect to the database, and `pandas` has some of the SQL reading functionality built into it already.

## Creating a Connection

We start by creating a connection to the database. The code below doesn't actually connect just yet -- we're just creating the engine with which we will connect to the database.

In [6]:
conn = sqlite3.connect(curruser.dbname)

Let's break down each portion of the string needed to connect to the database. Since we have a postgreSQL database, we use `postgres://`. Then, we include the username and password for the user that will be connecting. You haven't had to actually input this when using pgAdmin since it was saved already, but you were connecting using the adauser account. This gives us

    postgres://adauser:adrf
    
Since this is a local database (that is, it's on your own computer, or in this case, Virtual Box), we use `localhost:5432`. If you were connecting over the internet, you might use the location of that database instead. Finally, we (uncreatively) also named our database `adauser`, so that's included at the end, to give us the final string:

    postgres://adauser:adrf@localhost:5432/adauser

## Reading SQL tables using Pandas

Now that we've created our engine to connect to the database, we can use the `read_sql` function in `pandas` to write SQL queries and get tables out as DataFrames.

In [8]:
df = pd.read_sql("SELECT * FROM lodes.ca_wac_2015",conn)

Here, `pd.read_sql()` outputs the table that the SQL query that we wrote as a string would return. In this case, it's simply the `ca_wac_2015` table. Of course, you can include more complicated queries, such as joins, if you'd like.

Let's look at the data to make sure we got what we wanted.

In [4]:
df.head()

,w_geocode,c000,ca01,ca02,ca03,ce01,ce02,ce03,cns01,cns02,...,cfa02,cfa03,cfa04,cfa05,cfs01,cfs02,cfs03,cfs04,cfs05,createdate
0,060014001001007,30,2,16,12,4,2,24,0,0,...,0,0,0,0,0,0,0,0,0,20170919
1,060014001001008,4,0,1,3,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,20170919
2,060014001001011,3,2,1,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,20170919
3,060014001001017,11,3,3,5,2,2,7,0,0,...,0,0,0,0,0,0,0,0,0,20170919
4,060014001001024,10,3,3,4,7,1,2,0,0,...,0,0,0,0,0,0,0,0,0,20170919